<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>layout2</title>
    <link rel="stylesheet" href="./css/layout2.css" />
  </head>

  <body>
    <div class="wrap">
      <div class="header">
        <div class="logo"></div>
        <div class="logo2"></div>
      </div>

      <div class="inner">
        <div class="slider"></div>

        <div class="content">
          <div class="c1"></div>
          <div class="c2"></div>
          <div class="c3"></div>
        </div>

        <div class="footer">
          <div class="f1"></div>
          <div class="f2">
            <div class="f2-1"></div>
            <div class="f2-2"></div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
