<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>layout</title>
    <link rel="stylesheet" href="./css/layout.css" />
  </head>

  <body>
    <div id="header">
      <div class="wrap">
        <div id="logo"></div>
        <div id="nav"></div>
      </div>
    </div>

    <div id="slider"></div>

    <div id="content">
      <div id="con1"></div>
      <div id="con2"></div>
      <div id="con3"></div>
    </div>

    <div id="footer">
      <div class="wrap">
        <div class="f1"></div>
        <div class="f2"></div>
        <div class="f3"></div>
      </div>
    </div>
  </body>
</html>
